html {
  background-color: black;
  font-size: 18pt;
  font-family: Helvetica;
  color: white;
  width: 960px;
}

header {
  text-transform: uppercase;
}

.logo {
  font-size: 1rem;
}

.advert {
  background-image: url(https://github.com/piecesonnapkins/SecretAgentSupply/blob/master/resources/images/moto.jpeg?raw=true);
  height: 25rem;
  width: 100%;
  border: 12px solid green;
}

.advert h1, h2 {
  background-color: black;
  width: 20rem;
  text-transform: uppercase;
}

nav {
  border: 12px solid orange;
  background-color: firebrick;
  height: 2.5rem;
  width: 100%;
  text-align: center;
}

.item {
  border: 12px solid aqua;
  display: flex;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  border: 12px solid grey;
}

h4 {
  border: 12px solid yellow;
}

footer {
  border: 12px solid coral;
}
